:root {
  --background-color: #2f303a;
  --logo-color: #2196f3;
  --chapter-color: #212121;
  --description-color: #757575;
  --light-color: #fff;
  --btn-order-hov-color: #188ce8;
  --btn-order-shad-color: rgba(0, 0, 0, 0.15);
  --team-color: #f5f4fa;
  --con-foot-color: rgba(255, 255, 255, 0.6);
  --social-icon: #AFB1B8;
  --project-border: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--chapter-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-list__link--team, .social-list__link--footer {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--team:hover, .social-list__link--footer:hover, .social-list__link--team:focus, .social-list__link--footer:focus {
  background-color: var(--logo-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn--center-position, .btn--position, .btn--position-fill, .btn--filter {
  cursor: pointer;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px var(--btn-order-shad-color);
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  color: var(--light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--center-position:hover, .btn--position:hover, .btn--position-fill:hover, .btn--filter:hover, .btn--center-position:focus, .btn--position:focus, .btn--position-fill:focus, .btn--filter:focus {
  background-color: var(--btn-order-hov-color);
}

.section__chapter {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 300ms;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: scale(0.1) rotate(-45deg) translate(0.5vw, 0.5vh);
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--logo-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0%;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--chapter-color);
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--description-color);
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal__icon-container {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--logo-color);
}

.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus, .modal__input:focus {
  outline: none;
  border-color: var(--logo-color);
}

.modal__comment {
  resize: none;
  height: 120px;
  vertical-align: top;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.modal__comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__link {
  color: var(--logo-color);
  margin-left: 3px;
}

.modal__check-text {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.modal__check-text::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--chapter-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check:checked + .modal__check-text::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.btn--center-position {
  text-align: center;
  margin: 30px auto 0px;
  padding: 10px 55px;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: var(--light-color);
}

.header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
}

.header__list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.header__list-item {
  position: relative;
  margin-right: 50px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__connect {
  display: flex;
  margin-left: auto;
}

.hdr-tel {
  margin-left: 50px;
}

.st-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--header {
  color: #000;
}

.nav {
  color: var(--chapter-color);
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts {
  display: flex;
  align-items: center;
  color: var(--description-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover, .header__contacts:focus {
  color: var(--logo-color);
  fill: var(--logo-color);
}

.contacts-icon {
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
  fill: currentColor;
}

.current,
.nav:hover,
.nav:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--logo-color);
  fill: var(--logo-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--logo-color);
  display: flex;
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 30px;
}

.btn--position {
  margin: 0 auto;
  padding: 10px 32px;
  text-align: center;
}

.supremacy-list__name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.supremacy-list {
  display: flex;
  justify-content: space-between;
}

.supremacy-list__item {
  width: 270px;
}

.supremacy-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.supremacy-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--team-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section--without-top-padding {
  padding-top: 0px;
}

.activities {
  display: flex;
  justify-content: space-between;
}

.activities__thumb {
  position: relative;
}

.activities__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--team-color {
  background: var(--team-color);
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: var(--light-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list__specialty {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--description-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item + .social-list__item {
  padding-left: 10px;
}

.social-list__link--team {
  fill: var(--social-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--team:hover, .social-list__link--team:focus {
  fill: var(--light-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-list__item {
  display: block;
  padding: 16px 32px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  fill: var(--social-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item:hover, .client-list__item:focus {
  fill: var(--logo-color);
  border-color: var(--logo-color);
}

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.logo--footer {
  color: var(--light-color);
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--con-foot-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item:not(:first-child) {
  margin-top: 9px;
}

.footer__container {
  display: flex;
}

.footer__join-us {
  margin-left: 70px;
  padding: 12px 0px 40px;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--footer:focus, .social-list__link--footer:hover {
  background-color: var(--logo-color);
}

.footer__send-out {
  padding-top: 12px;
  margin-left: 93px;
}

.footer__form {
  margin-top: 20px;
  display: flex;
}

.footer__subscribe-field {
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn--position-fill {
  width: 200px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  justify-content: space-between;
  fill: var(--light-color);
}

.btn--filter {
  color: var(--chapter-color);
  background-color: var(--team-color);
  font-weight: 500;
  box-shadow: none;
  text-align: center;
  height: 38px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--filter:active {
  background-color: var(--logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--light-color);
}

.btn--filter:hover, .btn--filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--logo-color);
  color: var(--light-color);
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.project-text {
  padding: 20px 24px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--project-border);
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-item:nth-child(3n) {
  margin-right: 0px;
}

.flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--light-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-item:hover .project-top-text {
  transform: translateY(0%);
  overflow: auto;
}
/*# sourceMappingURL=main.css.map */