.header {
    font-weight: 500;
    @include font(14px, 1.14, 0.02em);
    border-bottom: 1px solid #ececec;
    background-color: var(--light-color);
  }
  .header-logo{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__navigation {
    display: flex;
  }
  .header__list {
    display: flex;
    margin-left: 93px;
    align-items: center;
  }
  .header__list-item {
    position: relative;
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .header__connect {
    display: flex;
    margin-left: auto;
  }
  .hdr-tel {
    margin-left: 50px;
  }
  .st-logo {
    font-family: "Raleway", sans-serif;
    @include font(26px, 1.19, 0.03em);
    color: var(--logo-color);
  }
  .logo{
    font-family: "Raleway", sans-serif;
    @include font(26px, 1.19, 0.03em);
  }
  .logo--header {
    color: #000;
  }
  .nav {
    color: var(--chapter-color);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts {
    display: flex;
    align-items: center;
    color: var(--description-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
      color: var(--logo-color);
      fill: var(--logo-color);
    }
  }
  .contacts-icon {
    object-fit: contain;
    object-position: center;
    margin-right: 10px;
    fill: currentColor;
  }
  .current,
  .nav:hover,
  .nav:focus,
  .contacts-footer:hover,
  .contacts-footer:focus {
    color: var(--logo-color);
    fill: var(--logo-color);
  }
  .current::after{
    content: '';
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--logo-color);
    display: flex;
  }