.supremacy-list__name {
  @include font(14px, 1.14, 0.03em);  
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .supremacy-list {
    display: flex;
    justify-content: space-between;
  }
  .supremacy-list__item {
    width: 270px;
  }
  .supremacy-list__text {
    @include font(14px, 1.71, 0.03em);
    color: var(--description-color);
  }
  .supremacy-list__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--team-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }